<div
  class="rounded-md w-full col-span-2 text-[17px] text-[#000123] bg-white mt-2"
>
  <div class="max-w-[1200px] lg:px-10 mx-auto hidden md:block">
    <div class="lg:mt-[80px] mt-[30px]">
      <div class="font-prox relative overflow-hidden">
        <img
          src="../public/Images/homepage/AdbgB.png"
          class="w-full lg:h-[340px]"
        />
        <div
          class="absolute pl-[21px] lg:pl-[90px] md:pl-[60px] lg:top-[63px] md:top-[57px] top-[63px] uppercase"
        >
          <div class="font-[250] lg:text-[20px] md:text-[13px] text-[22px]">
            <%- banner[i].title %>
          </div>
          <div
            class="font-[600] lg:text-[36px] md:text-[24px] text-[22px] lg:mt-[20px] text-black"
          >
            <%- banner[i].text %>
          </div>
          <button
            class="mt-[22px] md:mt-[32px] lg:mt-[34px] font-semibold lg:text-[14px] md:text-[9.3px] text-[9px] flex items-center justify-center lg:w-[143px] md:w-[96px] md:h-[28px] lg:h-[42px] border-[#110631] md:border-[1px] lg:border-[1.5px] md:rounded-[5.3px] lg:rounded-[8px]"
            onclick="location.href='/package'"
          >
            Get Started &nbsp;
            <img
              src="../public/Images/arrblack.svg"
              class="w-[9px] h-[9px] lg:w-[13.4px] lg:h-[13.4px]"
            />
          </button>
        </div>
        <div class="absolute bottom-0 right-0 overflow-hidden h-full">
          <img
            src="            <% banner[i].image[0] %>
"
            class="h-full"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="justify-between items-center flex py-[14px] md:py-[12px] lg:pt-[15px] px-[10px] md:px-[11px] lg:px-[17px] rounded-[3px] mt-6 lg:mt-[15px] lg:shadow-none shadow-[0px_0px_2px_rgba(0,0,0,0.25)]"
  >
    <div class="flex w-full">
      <div
        class="border-[0.5px] md:h-[86px] md:w-[86px] h-[69px] w-[69px] justify-center rounded-[3px] lg:rounded-[5px] flex items-center ml-[10px] lg:ml-0 md:ml-[15px]"
      >
        <img
          src="   <%= banner[i].image[0] %>
"
          class="flex items-center justify-center"
        />
      </div>
      <div
        class="pl-[10px] md:pl-[10px] flex flex-col lg:font-medium text-ellipsis truncate lg:overflow-visible lg:flex-row w-full lg:grid grid-cols-12 lg:items-center"
      >
        <div
          class="text-[12px] md:text-sm lg:text-[16px] truncate col-span-4 lg:pl-[40px]"
        >
          <%- banner[i].name %>

          <div
            class="opacity-80 col-span-2 text-[10px] truncate md:text-[12px] pt-[9px] md:pt-[10px] lg:pt-[16px] lg:text-[14px]"
          >
            <%- banner[i].title %>
          </div>
        </div>

        <div
          class="text-[12px] col-span-4 w-auto md:text-[16px] truncate lg:pt-0 font-medium pt-[14px] md:pt-[17px] justify-between items-center grid-cols-1 flex"
        >
          <%- banner[i].text%>
        </div>
        <div class="lg:flex font-roboto flex items-center left-0 w-auto">
          <div class="flex items-center">
            <div class="flex justify-center">
              <button
                onclick="location.href='/admindashboard/banner/<%=banner[i]._id%>'"
              >
                <img src="../../public/Images/Dashboard/edit.svg" class="w-6" />
              </button>
            </div>
          </div>
        </div>
        <div
          class="text-[12px] justify-between col-span-3 w-auto md:text-[16px] lg:pt-0 font-medium pt-[14px] md:pt-[17px] items-center grid-cols-2 flex"
        >
          <div class="pl-1 flex flex-col items-center">
            <div class="text-[14px]">
              <%- new Intl.DateTimeFormat('en-US', { month: 'short', day:
              'numeric', year: 'numeric' }).format(new
              Date(banner[i].createdAt)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
