<div class="bg-[#FAFAFA] pr-5">
    <div class="hidden"><%- include ("../partials/header") %></div>
    
    <div class="flex max-w-1200 mx-auto">
      <div class="grid gap-x-3 grid-cols-4 w-full rounded-sm">
        <%- include ("./sidebar") %>
        <div
          class="rounded-md w-full col-span-3 font-medium text-[17px] p-4 text-[#000123] bg-white mt-2"
        >
          Update Category:
          <form class=" rounded-lg p-3 mt-2" id="updateCategory">
            <div class="flex gap-x-2">
              <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
                <label for="Name" class="text-[12px] md:text-[14px] font-medium"
                  >Name</label
                >
                <input
                  type="text"
                  name="name"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                  placeholder="<%=categoryEdit.name%>"
                  />
              </div>
              <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
                <label for="Name" class="text-[12px] md:text-[14px] font-medium"
                  >Parent Category</label
                >
                <div class="mt-4 pl-1 flex flex-col">
                 
                <select
                  id="categoryDropdown"
                  multiple
                  size="3"
                  class="overflow-y-scroll w-full"
                >
                <% for (i = 0;i<category.length;i++){%>
                  <option value="<%=category[i].name%>"><%=category[i].name%></option>
                  <%}%>
                </select>
                <input
                  type="text"
                  id="selectedOptionsField"
                  readonly
                  name="parentCategory"
                  class="w-full overflow-x-auto"
                  placeholder="<%-categoryEdit.parentCategory%>"

                />
                </div>
              </div>
            </div>
            <div class="flex gap-x-2">
              <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
                <label for="Slug" class="text-[12px] md:text-[14px] font-medium"
                  >Slug</label
                >
                <input
                  type="text"
                  name="slug"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
              <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] w-1/2">
                <label
                  for="Description"
                  class="text-[12px] md:text-[14px] font-medium"
                  placeholder="<%=categoryEdit.description%>"
                  >Description</label
                >
                <input
                  type="text"
                  name="description"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
                <input
                  type="text"
                  name="categoryID"
                  class="hidden"
                  value="<%=categoryEdit.id%>"
                />
              </div>
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="image"
                class="text-[12px] md:text-[14px] font-medium"
                >Display Image * :</label
              >
              <input type="file" name="image" />
            </div>
            <button
              type="submit"
              class="text-[17px] mt-3 font-medium p-3 bg-gradient-to-r from-[#3baf3d] to-[#5DC234] text-white rounded-md"
            >
              Update Category
            </button>
          </form>
        </div>
      </div>
    </div>
    <div id="customAlert" class="alert-modal">
      <div class="alert-content">
        <h2 id="alertTitle">alertTitle</h2>
        <p id="alertMessage">alertMessage</p>
        <button id="okButton">OK</button>
      </div>
    </div>
    <div class="hidden"><%- include ("../partials/footer") %></div>
  </div>
  