<div
  class="w-full col-span-2 border-b-[1px] text-[17px] text-[#000123] bg-white"
>
  <div
    class="justify-between items-center flex py-[14px] md:py-[12px] lg:pt-[15px] px-[10px] md:px-[11px] lg:px-[17px] lg:shadow-none shadow-[0px_0px_2px_rgba(0,0,0,0.25)]"
  >
    <div class="flex w-full">
      <div
        class="md:w-[86px] w-[69px] justify-center rounded-[3px] lg:rounded-[5px] flex items-center ml-[10px] lg:ml-0 md:ml-[15px]"
      >
        <div class="flex items-center justify-center"><%= i %></div>
      </div>
      <div
        class="pl-[10px] md:pl-[10px] flex flex-col lg:font-medium text-ellipsis truncate lg:overflow-visible lg:flex-row w-full lg:grid grid-cols-12 lg:items-center"
      >
        <div
          class="text-[12px] md:text-sm lg:text-[16px] col-span-4 lg:pl-[40px]"
        >
          <%= delivery[i].name %>
        </div>

        <div
          class="text-[12px] col-span-4 w-auto md:text-[16px] lg:pt-0 font-medium pt-[14px] md:pt-[17px] justify-between items-center grid-cols-2 flex"
        >
          <div><%-delivery[i].price%>&nbsp;</div>
          <div class="lg:flex font-roboto flex items-center mr-14 w-auto">
            <div><%-delivery[i].location%>&nbsp;</div>
          </div>
        </div>
        <div class="lg:flex font-roboto flex items-center left-0 w-auto">
          <div class="flex items-center">
            <div class="flex justify-center">
              <button
                onclick="location.href='/admindashboard/deliveryEdit/<%=delivery[i]._id%>'"
                class="pl-1"
              >
                <img src="../../public/Images/Dashboard/edit.svg" class="w-6" />
              </button>
            </div>
          </div>
        </div>
        <div
          class="text-[12px] justify-between col-span-3 w-auto md:text-[16px] lg:pt-0 font-medium pt-[14px] md:pt-[17px] items-center grid-cols-2 flex"
        >
          <div class="pl-1 flex flex-col items-center">
            <div class="text-[14px]">
              <%- new Intl.DateTimeFormat('en-US', { month: 'short', day:
              'numeric', year: 'numeric' }).format(new
              Date(delivery[i].createdAt)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
