<!DOCTYPE html>

<div class="bg-[#f8f8f8] pr-5">
  <div class="hidden"><%- include ("../partials/header") %></div>

  <div class="flex max-w-1200 mx-auto">
    <div class="grid gap-x-3 grid-cols-4 w-full rounded-sm">
      <%- include ("./sidebar") %>
      <div class="grid col-span-3 grid-cols-3 gap-x-1">
        <div
          class="rounded-md col-span-3 w-full text-[17px] p-4 text-[#000123] font-medium bg-white mt-2"
        >
          Update Product:

          <form class="rounded-lg p-1" id="updateProduct">
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label for="Name" class="text-[12px] md:text-[14px] font-medium"
                >Name *</label
              >
              <input
                type="text"
                name="name"
                placeholder="<%=product.name%>"
                class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
              />
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] flex gap-x-1">
              <div class="flex flex-col">
                <label
                  for="price"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Price (Rs.) *</label
                >
                <input
                  type="text"
                  name="price"
                  placeholder="<%=product.price%>"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
              <div class="flex flex-col">
                <label
                  for="discountedFrom"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Discounted From (Rs.)
                </label>
                <input
                  type="text"
                  name="discountedFrom"
                  placeholder="<%=product.discountedFrom%>"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
              <div class="flex flex-col">
                <label
                  for="quantity"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Quantity *</label
                >
                <input
                  type="text"
                  name="quantity"
                  placeholder="<%=product.quantity%>"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
              <div class="flex flex-col">
                <label
                  for="measure"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Measure</label
                >
                <input
                  type="text"
                  name="measure"
                  placeholder="<%=product.measure%>"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
            </div>

            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="primaryImage"
                class="text-[12px] md:text-[14px] font-medium"
                >Display Image * :</label
              >
              <input type="file" name="primaryImage" />
              <input
                type="text"
                name="existingImage"
                value="<%=product.image[0]%>"
                class="hidden"
              />
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="description"
                class="text-[12px] md:text-[14px] font-medium"
                >Description:</label
              ><%-product.description%><br />
              <textarea
                name="description"
                class="w-full mt-[14px] md:mt-[12px] border-[0.5px] rounded-[5px] p-2"
                id="descriptionTextArea"
                placeholder="Update Description Here"
              ></textarea>
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="longDescription"
                class="text-[12px] md:text-[14px] font-medium"
                >Long Description</label
              ><%-product.longDescription%><br />
              <textarea
                name="longDescription"
                class="w-full mt-[14px] md:mt-[12px] border-[0.5px] rounded-[5px] p-2"
                id="longDescriptionTextArea"
                placeholder="Update Long Description Here"
              ></textarea>
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="otherImages"
                class="text-[12px] md:text-[14px] font-medium"
                >Other Images:</label
              >
              <input type="file" name="otherImages" multiple />
            </div>

            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] flex-col flex">
              <label
                for="category"
                class="text-[12px] md:text-[14px] font-medium"
                >Categories</label
              >
              <select
                id="categoryDropdown"
                multiple
                size="3"
                class="overflow-y-scroll"
              >
              <% for (i = 0;i<category.length;i++){%>
                <option value="<%=category[i].name%>"><%=category[i].name%></option>
                <%}%>
              </select>
              <input
                type="text"
                id="selectedOptionsField"
                readonly
                name="category"
                placeholder="<%-product.category%>"
              />
            </div>
            <div class="flex justify-between">
              <button
                type="submit"
                class="text-[17px] mt-3 font-medium p-3 bg-gradient-to-r from-[#3baf3d] to-[#5DC234] text-white rounded-md"
              >
                Update Product
              </button>
              <div>
              <button
                class="text-[17px] mt-3 font-medium p-3 bg-[#DC0D0D] text-white rounded-md"
           type="button"     onclick="deletefProduct()"
             >
                Delete Product
              </button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="flex">
    <div id="deleteProduct" style="display: none">
      <%- include ("./deleteProduct") %>
    </div>
  </div>
  <div id="customAlert" class="alert-modal">
    <div class="alert-content">
      <h2 id="alertTitle">alertTitle</h2>
        <p id="alertMessage">alertMessage</p>
      <button id="okButton">OK</button>
    </div>
  </div>
  <div class="hidden"><%- include ("../partials/footer") %></div>
</div>
