<div
  class="rounded-md w-full col-span-2 text-[17px] text-[#000123] bg-white mt-2"
>
  <div
    class="border-[1px] justify-between items-center flex py-[14px] md:py-[12px] lg:pt-[15px] px-[10px] md:px-[11px] lg:px-[17px] rounded-[3px] mt-6 lg:mt-[15px] lg:shadow-none shadow-[0px_0px_2px_rgba(0,0,0,0.25)]"
  >
    <div class="flex w-full">
      <div
        class="border-[0.5px] md:h-[86px] md:w-[86px] h-[69px] w-[69px] justify-center rounded-[3px] lg:rounded-[5px] flex items-center ml-[10px] lg:ml-0 md:ml-[15px]"
      >
        <img
          src="   <%= products[i].image %>
"
          class="flex items-center justify-center"
        />
      </div>
      <div
        class="pl-[10px] md:pl-[10px] flex flex-col lg:font-medium text-ellipsis truncate lg:overflow-visible lg:flex-row w-full lg:grid grid-cols-12 lg:items-center"
      >
        <div
          class="text-[12px] md:text-sm lg:text-[16px] col-span-5 lg:pl-[40px]"
        >
          <%= products[i].name %>

          <div
            class="opacity-80 col-span-2 text-[10px] md:text-[12px] pt-[9px] md:pt-[10px] lg:pt-[16px] lg:text-[14px]"
          >
            Full Quantity
          </div>
        </div>

        <div
          class="text-[12px] col-span-3 w-auto md:text-[16px] lg:pt-0 font-medium pt-[14px] md:pt-[17px] justify-between items-center grid-cols-2 flex"
        >
          <div class="flex">
            Rs.
            <div id="cartItem"><%= products[i].price%></div>
          </div>
          <div
            class="justify-end lg:flex font-roboto flex items-center left-0 w-auto"
          >
            <div class="flex items-center">
              &nbsp; &nbsp;

              <input
                type="text"
                name="quantity"
                value="<%= products[i].quantity %>"
                class="text-center items-center text-[14px] quantity w-[22.4px] h-[22.4px] lg:w-[42px] lg:h-[42px] lg:border-[1px] border-[0.6px] rounded-[3px]"
                readonly
              />
              &nbsp; &nbsp;
            </div>
          </div>
        </div>
        <div class="lg:flex font-roboto flex items-center left-0 w-auto">
          <div class="flex items-center">
            <div class="flex justify-center">
              <button
                onclick="location.href='productEdit/<%=products[i]._id%>'"
              >
                <img src="../../public/Images/Dashboard/edit.svg" class="w-6" />
              </button>
              <button
                class="pl-2"
                onclick="location.href='products/<%=products[i]._id%>'"
              >
                <img
                  src="../../public/Images/eye-password-show.svg"
                  class="w-6"
                />
              </button>
            </div>
          </div>
        </div>
        <div
          class="text-[12px] justify-between col-span-3 w-auto md:text-[16px] lg:pt-0 font-medium pt-[14px] md:pt-[17px] items-center grid-cols-2 flex"
        >
          <div class="flex flex-col items-center">
            <div class="text-[12px]">Vendor</div>
            <button class="text-[14px] border-2 rounded-lg p-1">
              <%= products[i].createdBy.name%>
            </button>
          </div>
          <div class="pl-1 flex flex-col items-center">
            <div class="text-[14px]">
              <%- new Intl.DateTimeFormat('en-US', { month: 'short', day:
              'numeric', year: 'numeric' }).format(new
              Date(products[i].createdAt)) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden"><%- include ("../partials/footer") %></div>
</div>
