<!DOCTYPE html>

<div class="bg-[#f8f8f8] pr-5">
  <div class="hidden"><%- include ("../partials/header") %></div>
  
  <div class="flex max-w-1200 mx-auto">
    <div class="grid gap-x-3 grid-cols-4 w-full rounded-sm">
      <%- include ("./sidebar") %>

      <div class="grid col-span-3 grid-cols-3 gap-x-1  py-3  rounded-lg">
        <!-- Product summary -->
       
        <!-- Add Products Form -->
        <div
          class="rounded-md w-full col-span-3 font-medium text-[17px] p-4 text-[#000123] bg-white mt-2"
        >
        Add Product:
          <form class=" rounded-lg p-1" id="addProduct">
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label for="Name" class="text-[12px] md:text-[14px] font-medium"
                >Name *</label
              >
              <input
                type="text"
                name="name"
                class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                required
              />
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] flex gap-x-1">
              <div class="flex flex-col">
                <label
                  for="price"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Price (Rs.) *</label
                >
                <input
                  type="text"
                  name="price"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                  required
                />
              </div>
              <div class="flex flex-col">
                <label
                  for="discountedFrom"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Discount From (Rs.) </label
                >
                <input
                  type="text"
                  name="discountedFrom"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
              <div class="flex flex-col">
                <label
                  for="quantity"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Quantity *</label
                >
                <input
                  type="text"
                  name="quantity"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                  required
                />
              </div>
              <div class="flex flex-col">
                <label
                  for="measure"
                  class="text-[12px] md:text-[14px] font-medium"
                  >Measure</label
                >
                <input
                  type="text"
                  name="measure"
                  class="w-full h-[32px] md:h-[36px] lg:h-[42px] border-[0.5px] rounded-[5px] mt-[14px] md:mt-[12px] pl-2"
                />
              </div>
            </div>
            <div class="flex flex-col mt-4">
              <label
                for="status"
                class="text-[12px] md:text-[14px] font-medium"
                >Status</label
              >

              <div class="mt-[14px] flex items-center space-x-4 h-[36px]">
                <input
                  type="radio"
                  name="status"
                  value="true"
                  class="h-[18px] w-[18px]"
                  required
                  checked
                />
                <label for="true">In Stock</label>

                <input
                  type="radio"
                  name="status"
                  value="false"
                  class="h-[18px] w-[18px]"
                  required
                />
                <label for="false">Out of Stock</label>
              </div>
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="primaryImage"
                class="text-[12px] md:text-[14px] font-medium"
                >Display Image * :</label
              >
              <input type="file" name="primaryImage" required />
            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="description"
                class="text-[12px] md:text-[14px] font-medium"
                >Description</label
              >
              <textarea name="description" class="w-full mt-[14px] md:mt-[12px] border-[0.5px] rounded-[5px] p-2" id="descriptionTextArea"></textarea>

            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="longDescription"
                class="text-[12px] md:text-[14px] font-medium"
                >Long Description</label
              >
              <textarea name="longDescription" class="w-full mt-[14px] md:mt-[12px] border-[0.5px] rounded-[5px] p-2" id="longDescriptionTextArea"></textarea>

            </div>
            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px]">
              <label
                for="otherImages"
                class="text-[12px] md:text-[14px] font-medium"
                >Other Images:</label
              >
              <input type="file" name="otherImages" multiple />
            </div>

            <div class="mt-[21px] md:mt-[24px] lg:mt-[16px] flex-col flex">
              <label
                for="category"
                class="text-[12px] md:text-[14px] font-medium"
                >Categories</label
              >
              <select
                id="categoryDropdown"
                multiple
                size="3"
                class="w-1/2 border-[1px] rounded-md p-2 overflow-y-scroll"
                style="overflow-y: scroll;"
                >
              <% for (i = 0;i<category.length;i++){%>
                <option value="<%=category[i].name%>" class="mb-[2px]"><%=category[i].name%></option>
                <%}%>
              </select>
              <input
                type="text"
                id="selectedOptionsField"
                readonly
                name="category"
              />
            </div>
            <button
              type="submit"
              class="text-[17px] mt-3 font-medium p-3 bg-gradient-to-r from-[#3baf3d] to-[#5DC234] text-white  rounded-md"
            >
              Add Product
            </button>
          </form>
        </div>
        
        
      </div>
    </div>
    
    
    <%- include ("./alert") %>

  </div>
  <div class="hidden"><%- include ("../partials/footer") %></div>
  
  <!-- <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    This is an alert box.
  </div> -->


  
</div>
