<% for (var i =0; i
<orderdata.length; i++ ) { %>
  <div
    class="border-[1px] justify-between items-center flex py-[14px] md:py-[12px] lg:pt-[15px] px-[10px] md:px-[11px] lg:px-[17px] rounded-[3px] mt-6 lg:mt-[15px] lg:shadow-none shadow-[0px_0px_2px_rgba(0,0,0,0.25)]"
  >
    <div class="flex w-full">
      <input type="checkbox" class="lg:hidden" />
      <div
        class="border-[0.5px] md:h-[86px] md:w-[86px] h-[69px] w-[69px] justify-center rounded-[3px] lg:rounded-[5px] flex items-center ml-[10px] lg:ml-0 md:ml-[15px]"
      >
        <img
          src="          <%= orderdata[i].image %>
"
          class="flex items-center justify-center"
        />
      </div>
      <div
        class="pl-[10px] md:pl-[10px] flex flex-col lg:font-medium text-ellipsis truncate lg:overflow-visible lg:flex-row w-full lg:grid grid-cols-12 lg:items-center"
      >
        <div
          class="text-[12px] md:text-sm lg:text-[16px] col-span-5 lg:pl-[40px]"
        >
          <%= orderdata[i].name %>

          <div
            class="opacity-80 col-span-2 text-[10px] md:text-[12px] pt-[9px] md:pt-[10px] lg:pt-[16px] lg:text-[14px]"
          >
            <%= orderdata[i].priceper %>
          </div>
        </div>

        <div
          class="text-[12px] col-span-3 w-auto md:text-[16px] lg:pt-0 font-medium pt-[14px] md:pt-[17px] justify-between items-center grid-cols-2 flex"
        >
          <div class="lg:hidden">
            Rs. <%= orderdata[i].price * orderdata[i].quantity %>
          </div>
          <div
            class="justify-end md:hidden font-roboto flex items-center left-0 w-auto"
          >
            <div class="flex items-center">
              <button onclick="decrease('<%=i%>')" class="h-[10px]">
                <img src="../../public/Images/substract.svg" />
              </button>
              &nbsp; &nbsp;

              <input
                type="text"
                name="quantity"
                value="<%= orderdata[i].quantity %>"
                maxlength="2"
                max="10"
                size="1"
                class="text-center items-center text-[14px] quantity w-[22.4px] h-[22.4px] lg:w-[42px] lg:h-[42px] lg:border-[1px] border-[0.6px] rounded-[3px]"
              />
              &nbsp; &nbsp;

              <button onclick="increase('<%= i%>')" class="w-[10px]">
                <img src="../../public/Images/add.svg" />
              </button>
            </div>
          </div>
          <div
            class="hidden lg:flex w-[123px] relative h-[49px] overflow-visible border-[1px] rounded-[3px] flex-col gird"
          >
            <div class="dropdown relative">
              <a href="javascript:myFunction(<%=i%>)">
                <div class="dropbtn text-black text-left pl-[8px]">
                  <div class="opacity-50">Quantity</div>
                  <div class="absolute bottom-[20px] right-[2px]">
                    <img
                      src="../../public/Images/accordion-active.svg"
                      class="rotate-180 opacity-100"
                    />
                  </div>
                </div>
              </a>
              <text class="text-center flex justify-start w-full pl-[32px]"
                ><%= orderdata[i].quantity%></text
              >
              <div
                id="myDropdown<%= i%>"
                class="dropdown-content myDropdown z-40 bg-white"
              >
                <a> 1</a>
                <a> 2</a>
                <a> 3</a>
              </div>
            </div>
            <div class="hidden myDropdown dropdown-content"></div>
          </div>
        </div>
        <div class="hidden lg:block col-span-2">
          Rs. <%= orderdata[i].price * orderdata[i].quantity %>
        </div>

        <button
          class="hidden rounded-full w-[22px] h-[22px] bg-[#D3D3D2] items-center lg:flex justify-center"
          onclick
        >
          <img src="../../public/Images/Cross.svg" />
        </button>
      </div>
    </div>
    <div class="md:flex hidden lg:hidden items-center pr-[20px]">
      <button onclick="decrease('<%=i%>')" class="h-[10px]">
        <img src="../../public/Images/substract.svg" />
      </button>
      &nbsp; &nbsp;

      <input
        type="text"
        name="quantity2"
        value="1"
        maxlength="2"
        max="10"
        size="1"
        class="text-center quantity2 md:border-[1px] rounded-[3px] font-roboto"
      />
      &nbsp; &nbsp;

      <button onclick="increase('<%=i%>')" class="h-[10px]">
        <img src="../../public/Images/add.svg" />
      </button>
    </div>
  </div>

  <% } %>
</orderdata.length;>
