<%- include ("./partials/header") %>

<div class="pl-[19px]"></div>
<div class="px-5 lg:px-10 max-w-[1200px] mx-auto pt-[20px] lg:pt-0">
  <div class="justify-between lg:flex items-center hidden pt-[60px]">
    <div class="font-prox text-lg font-bold lg:text-[24px] text-[18px]">
      Best Selling Bundles
    </div>
  </div>
  <div class="bg-white flex flex-col justify-end pb-[30px] lg:pt-[30px]">
    <div class="flex items-center lg:justify-end justify-between">
      <div class="flex items-center">
        <div class="text-sm font-medium hidden lg:block">
          Sort By:&nbsp;&nbsp;&nbsp;
        </div>
        <div
          class="relative inline-block text-left dropdown z-30 h-[32px] md:h-[36px] lg:h-[42px]"
        >
          <span class="rounded-md shadow-sm"
            ><button
              class="flex lg:w-[172px] w-[129px] justify-between items-center lg:px-4 px-[10px] py-2 text-xs lg:text-sm font-medium text-[#182B3C] transition border-[#182B3C] border-[1px] rounded-lg focus:rounded-b-none focus:border-b-white"
              type="button"
              aria-haspopup="true"
              aria-expanded="true"
              aria-controls="headlessui-menu-items-117"
            >
              <span class="text-center">Most Relevant&nbsp;</span
              ><img
                src="../public/Images/accordion-active.svg"
                class="rotate-180 items-center w-[10px] lg:w-[13px]"
              /></button
          ></span>
          <div
            class="opacity-0 z-50 dropdown-menu transition-all duration-300 transform origin-top-right"
          >
            <div
              class="absolute lg:right-0 origin-top-left z-30 lg:w-[172px] w-[129px] bg-white border-[#182B3C] border-[1px] rounded-t-none divide-y divide-gray-100 rounded-md shadow-lg"
              aria-labelledby="headlessui-menu-button-1"
              id="headlessui-menu-items-117"
              role="menu"
            >
              <div class="z-40">
                <a
                  href="/products?sort=low"
                  tabindex="0"
                  class="text-[#182B3C] flex w-full font-medium items-center lg:px-4 px-[10px] py-2 text-xs lg:text-sm leading-5 text-left hover:bg-[#c4c4c4] hover:z-20"
                  role="menuitem"
                  >Low to High</a
                >
              </div>
              <div class="z-40">
                <a
                  href="/products?sort=high"
                  tabindex="0"
                  class="text-[#182B3C] flex w-full items-center font-medium lg:px-4 px-[10px] py-2 text-xs lg:text-sm leading-5 text-left hover:bg-[#c4c4c4] hover:z-20"
                  role="menuitem"
                  >High to Low</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="flex lg:hidden items-center text-xs z-30"
        onclick="filtersidebarf()"
      >
        <div class="h-[22px] w-[22px]">
          <img src="../public/Images/ic_arrow.svg" />
        </div>
        <div>&nbsp;&nbsp;</div>
        Filters
      </button>
    </div>
  </div>

  <style>
    .dropdown:focus-within .dropdown-menu {
      opacity: 1;
      transform: translate(0) scale(1);
      visibility: visible;
    }
  </style>

  <div
    class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-x-[20px] md:gap-x-[23.3px] lg:gap-x-[30px]"
  >
    <div>
      <div
        class="lg:flex flex-col hidden border-[1px] rounded-[10px] pt-[15px] text-#182B3C font-normal text-sm"
      >
        <div class="text-sm font-medium pb-[15px] pl-[20px]">Filters</div>

        <hr />
        <div class="px-[20px]"><%- include ("./partials/filter") %></div>
        <div class="flex">
          <button
            class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] w-1/2 h-[40px] rounded-lg rounded-t-none rounded-r-none text-white"
          >
            Reset
          </button>
          <button
            class="bg-gradient-to-r from-[#3baf3d] to-[#5DC234] w-1/2 h-[40px] rounded-lg rounded-t-none rounded-l-none text-white"
          >
            Done
          </button>
        </div>
      </div>
    </div>

    <div
      class="col-span-3 grid md:grid-cols-3 grid-cols-2 gap-x-[20px] md:gap-x-[23.3px] lg:gap-x-[30px] gap-y-[20px] md:gap-y-[30px]"
    >
      <%- include ("./partials/productItems") %>
    </div>
  </div>

  <div
    class="flex lg:justify-end justify-center gap-x-[9px] md:gap-x-[12px] lg:gap-x-[9px] pt-[20px] md:pt-[30px] lg:pt-[60px] font-normal"
  >
    <button
      onclick="location.href = '/products?page=<%=dataPagination.prev%>'"
      class="lg:w-[42px] lg:h-[42px] w-[36px] h-[36px] items-center flex justify-center border-[1px] rounded-[3px]"
    >
      <img src="../public/Images/accordion-active.svg" class="-rotate-90" />
    </button>
    <% for (var i =1; i<=dataPagination.totalPages; i++ ) { %>

    <button
      onclick="location.href = '/products?page=<%=i%>'"
      class="lg:w-[42px] lg:h-[42px] hidden md:flex w-[36px] h-[36px] items-center justify-center rounded-[3px] <%= i===dataPagination.page?'text-white bg-[#00A6EF] border-[0px]':'border-[1px]'%>"
    >
      <%=i%>
    </button>
    <% } %>

    <button class="w-[23px] h-[42px] items-center flex justify-center">
      <img src="../public/Images/page.png" />
    </button>
    <button
      class="lg:w-[42px] lg:h-[42px] w-[36px] h-[36px] items-center flex justify-center border-[1px] rounded-[3px]"
    >
      <%=dataPagination.totalPages%>
    </button>
    <button
      onclick="location.href = '/products?page=<%=dataPagination.next%>'"
      class="lg:w-[42px] lg:h-[42px] w-[36px] h-[36px] items-center flex justify-center border-[1px] rounded-[3px]"
    >
      <img src="../public/Images/accordion-active.svg" class="rotate-90" />
    </button>
    <div class="h-[42px] items-center text-center hidden md:flex">Go To</div>
    <input
      type="number"
      class="lg:w-[72px] md:w-[96px] md:h-[36px] border-[1px] rounded-[3px] items-center justify-center lg:h-[42px] md:flex hidden"
    />
  </div>
</div>

<script src="../public/loopforfilter.js"></script>
<%- include ("./partials/footer") %>
