<%- include ("./partials/header") %>
<div class="px-5 lg:px-10 max-w-[1200px] mx-auto lg:pt-[60px]">
  <!-- Single Product -->
  <div class="grid lg:grid-cols-5 lg:gap-x-[30px] gap-y-[27px]">
    <!-- Product Image -->
    <div
      class="lg:rounded-[5px] mt-[3px] relative overflow-hidden rounded-[3px] shadow-[0_0px_4px_rgba(0,0,0,0.25)] h-[237.4px] md:h-[335px] lg:min-h-[450px] lg:h-auto col-span-3 items-center justify-center flex"
    >
      <img
        src="<%= singlepackage.image%>"
        class="lg:h-auto md:h-[294px] h-[226.32px] absolute magnified"
        onmouseover="magnify(this)"
        onmouseout="magnifyout(this)"
      />
      <div
        class="top-[14px] right-[14px] md:top-[16px] lg:top-[20px] lg:right-[20px] absolute"
      >
        <button>
          <img
            src="../public/Images/Zoom.svg"
            class="w-[18px] lg:w-[15.75px]"
          />
        </button>
      </div>
    </div>
    <!-- Writing of Product -->
    <div class="lg:col-span-2 w-full">
      <div class="font-medium text-[18px] lg:text-[24px]">
        <%= singlepackage.name %>
      </div>
      <div class="justify-left flex items-center font-normal text-xs pt-[16px]">
        <div class="flex gap-x-[4px]">
          <%-include ("./partials/star") %>&nbsp;
        </div>
        <div class="font-medium text-sm">4 reviews</div>
      </div>
      <div class="pt-4 hidden lg:block font-medium text-sm">
        Categories: <%= singlepackage.category %>
      </div>
      <div class="pt-4 hidden lg:block font-medium text-sm">
        Avalability: <% if(singlepackage.quantity<=0) { %> Out of Stock, <%
        }else{ %> In Stock <%}; %>
      </div>
      <div class="pt-4 font-semibold text-base">
        Rs. <%= singlepackage.price %>
      </div>
      <div class="pt-4 text-xs md:text-sm lg:max-w-[348px] text-justify">
        <%= singlepackage.description %>

        <br /><br />
        <div></div>
      </div>
    </div>
  </div>
  <div
    class="justify-between flex flex-col md:flex-row lg:hidden pt-4 md:items-center"
  >
    <div class="font-semibold text-lg flex">Products</div>
    <div
      class="border-[1px] rounded-[3px] w-full md:w-[330px] h-[36px] md:h-[32px] items-center flex pl-[6px] md:pl-[8.5px] md:mt-[0px] mt-[24px]"
    >
      <button>
        <img src="../public/Images/search.svg" />
      </button>
      <input
        class="opacity-50 ml-4 w-full border-none font-[12px]"
        type="text"
        placeholder="Add your own product"
      />
    </div>
  </div>
  <!-- Items -->
  <div class="lg:border-[0.5px] rounded-[5px] lg:mt-[30px]">
    <div
      class="hidden font-medium text-[18px] lg:flex border-[1px] justify-between items-center lg:py-[30px] lg:px-[17px] lg:border-0 lg:border-b-[1px] rounded-[3px]"
    >
      <div class="lg:flex w-full hidden">
        <div
          class="justify-start rounded-[3px] w-[86px] lg:rounded-[5px] flex items-center ml-[10px] lg:ml-0 md:ml-[15px]"
        >
          Item
        </div>
        <div
          class="flex flex-col lg:font-medium lg:flex-row w-full lg:grid grid-cols-12 lg:items-center"
        >
          <div class="col-span-5 lg:pl-[40px]"></div>
          <div class="col-span-2">Price</div>
          <div
            class="col-span-3 w-auto lg:pt-0 font-medium pt-[14px] md:pt-[17px] justify-between items-center grid-cols-2 flex"
          >
            <div
              class="justify-end md:hidden lg:flex font-roboto flex items-center left-0 w-auto"
            >
              <div class="flex items-center">Quantity</div>
            </div>
          </div>
          <div class="hidden lg:block">Total</div>
        </div>
      </div>
    </div>
    <%- include ("./partials/items")%>
    <div
      class="pt-6 pb-6 px-[33px] lg:flex justify-between hidden items-center"
    >
      <div class="flex flex-row items-center">
        <div class="font-semibold text-lg">Add Your Own Product</div>
        <div
          class="border-[0.5px] rounded-[5px] ml-[42px] px-[14px] h-[42px] w-[293px] text-center flex items-center justify-between"
        >
          <input type="text" class="text-[12px]" placeholder="Search product" />
          <div><img src="../public/Images/search.svg" /></div>
        </div>
      </div>
      <div class="font-medium text-base">
        Bundle Price: Rs. <%= total %>
        <span class="text-[#237700]"> <%= singlepackage.price %> </span>
      </div>
    </div>
  </div>
  <!-- Add to Card/Buy Now -->
  <div class="lg:flex justify-end hidden gap-x-[15px] pt-[30px]">
    <button
      class="w-[200px] h-[42px] rounded-[8px] items-center flex justify-center border-[1px] border-[#3baf3d] text-[#3baf3d] font-medium"
      onclick="addToCartPackages('<%= JSON.stringify(singlepackage) %>')"
    >
      <div class="my-auto text-[#3baf3d] flex">
        Add
        <div class="text-[#3baf3d] added" style="display: none">ed&nbsp;</div>
        to Cart
      </div>
    </button>
    <button
      class="w-[200px] h-[42px] rounded-[8px] items-center flex justify-center text-[#ffffff] font-medium bg-gradient-to-r from-[#3baf3d] to-[#5DC234]"
      onclick="location.href='/cart'"
    >
      Buy Now &nbsp; <img src="../public/Images/arrow.svg" />
    </button>
  </div>
  <!-- Ratings -->
  <div>
    <div class="lg:hidden font-semibold text-lg mt-[40px]">
      Review and Ratings
      <div class="justify-between flex items-center">
        <div class="flex flex-col">
          <div class="font-semibold text-lg pt-[18px] md:pt-[30px]">
            4.0 <text class="text-base">/5</text>
          </div>
          <div
            class="text-[#182B3C ] opacity-50 font-normal text-[14px] pt-[3px]"
          >
            Based on 4 reviews
          </div>
        </div>
        <div class="flex gap-x-[6px]">
          <img
            src="../public/Images/star.svg"
            class="md:w-[26px] w-[19.52px]"
          />
          <img
            src="../public/Images/star.svg"
            class="md:w-[26px] w-[19.52px]"
          />
          <img
            src="../public/Images/star.svg"
            class="md:w-[26px] w-[19.52px]"
          />
          <img
            src="../public/Images/star.svg"
            class="md:w-[26px] w-[19.52px]"
          />
          <img
            src="../public/Images/star.svg"
            class="md:w-[26px] w-[19.52px]"
          />
        </div>
      </div>
      <div class="justify-between flex items-center pt-[20px]">
        <div class="gap-y-[17.31px] flex flex-col w-full">
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
            </div>
            <div
              class="w-[202px] md:w-[377px] h-[7px] rounded-[11.13px] bg-[#D9D9D9] grid-cols-5 grid"
            >
              <div
                class="rounded-[11.13px] h-full bg-[#FFCE31] col-span-5"
              ></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
            </div>
            <div
              class="w-[202px] md:w-[377px] h-[7px] rounded-[11.13px] bg-[#D9D9D9] grid-cols-5 grid"
            >
              <div
                class="rounded-[11.13px] h-full bg-[#FFCE31] col-span-4"
              ></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
            </div>
            <div
              class="w-[202px] md:w-[377px] h-[7px] rounded-[11.13px] bg-[#D9D9D9] grid-cols-5 grid"
            >
              <div
                class="rounded-[11.13px] h-full bg-[#FFCE31] col-span-3"
              ></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
            </div>
            <div
              class="w-[202px] md:w-[377px] h-[7px] rounded-[11.13px] bg-[#D9D9D9] grid-cols-5 grid"
            >
              <div
                class="rounded-[11.13px] h-full bg-[#FFCE31] col-span-2"
              ></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img
                src="../public/Images/Star.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
              <img
                src="../public/Images/Star-shade.svg"
                class="md:w-[19.6px] w-[15.65px]"
              />
            </div>
            <div
              class="w-[202px] md:w-[377px] h-[7px] rounded-[11.13px] bg-[#D9D9D9] grid-cols-5 grid"
            >
              <div
                class="rounded-[11.13px] h-full bg-[#FFCE31] col-span-1"
              ></div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- Reviews -->
  <div class="lg:border-[0.5px] rounded-[5px] lg:mt-[30px]">
    <div
      class="hidden lg:flex flex-col border-b-[1px] pl-[40px] font-medium text-base py-[40px]"
    >
      <div class="text-base font-semibold">
        Ratings and Reviews of the Product
      </div>
      <div class="flex pt-[32px]">
        <div class="flex flex-col">
          <div class="text-[40px] font-medium leading-[49px]">
            5.0 &nbsp;<text class="text-[26px]">/5</text>
          </div>
          <div class="opacity-50">Based on 4 reviews</div>
          <div class="pt-[16px] flex gap-x-[9.4px]">
            <img src="../public/Images/Star.svg" class="w-[40px]" />
            <img src="../public/Images/Star.svg" class="w-[40px]" />
            <img src="../public/Images/Star.svg" class="w-[40px]" />
            <img src="../public/Images/Star.svg" class="w-[40px]" />
            <img src="../public/Images/Star.svg" class="w-[40px]" />
          </div>
        </div>
        <div class="pl-[62px] space-y-[16px]">
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
            </div>
            <div
              class="w-[272px] h-[15px] rounded-[5px] bg-[#D9D9D9] grid-cols-5 grid ml-[16px]"
            >
              <div class="rounded-[5px] h-[15px] bg-[#FFCE31] col-span-5"></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
            </div>
            <div
              class="w-[272px] h-[15px] rounded-[5px] bg-[#D9D9D9] grid-cols-5 grid ml-[16px]"
            >
              <div class="rounded-[5px] h-[15px] bg-[#FFCE31] col-span-4"></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
            </div>
            <div
              class="w-[272px] h-[15px] rounded-[5px] bg-[#D9D9D9] grid-cols-5 grid ml-[16px]"
            >
              <div class="rounded-[5px] h-[15px] bg-[#FFCE31] col-span-3"></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
            </div>
            <div
              class="w-[272px] h-[15px] rounded-[5px] bg-[#D9D9D9] grid-cols-5 grid ml-[16px]"
            >
              <div class="rounded-[5px] h-[15px] bg-[#FFCE31] col-span-2"></div>
            </div>
          </div>
          <div class="flex justify-between w-full items-center">
            <div class="flex gap-x-[9.3px]">
              <img src="../public/Images/Star.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
              <img src="../public/Images/Star-shade.svg" class="w-[17px]" />
            </div>
            <div
              class="w-[272px] h-[15px] rounded-[5px] bg-[#D9D9D9] grid-cols-5 grid ml-[16px]"
            >
              <div class="rounded-[5px] h-[15px] bg-[#FFCE31] col-span-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="lg:border-b-[1px] text-[12px] md:text-[18px] lg:pl-[40px] pt-[27.35px] md:pt-[50px] pb-[20px] md:pb-[30px] font-medium lg:font-medium md:font-semibold text-base lg:pt-[20px] lg:pb-[20px]"
    >
      Product Reviews
    </div>
    <%- include ("./partials/comments") %>
    <div
      class="border-[0.5px] lg:border-0 pb-[15px] md:pb-[17.95px] lg:pb-[25px] lg:rounded-none rounded-[5px] mt-[20px] lg:mt-0 pl-[14px] lg:pl-[40px] pt-[16px] lg:pt-[30px] lg:pr-[40px] pr-[20px] shadow-[0px_0px_2px_rgba(0,0,0,0.25)] lg:shadow-none"
    >
      <div class="justify-between flex flex-col">
        <div class="flex w-full">
          <div class="rounded-full overflow-hidden h-[41px] w-[41px]">
            <img src="../public/Images/AboutUs/1.svg" />
          </div>
          <div class="pl-[14px] lg:pl-[16px] w-full">
            <div class="font-semibold text-sm flex justify-between w-full">
              <div>Name LName</div>
              <div>30/12/2022</div>
            </div>
            <div class="pt-[4px] flex gap-x-[3.4px]">
              <%- include ("./partials/star") %>
            </div>
          </div>
        </div>
        <div class="pt-[11px] lg:pt-[16px]">
          I love the product. It's amazing and will buy more from Household.
        </div>
        <div class="flex pt-[9px] lg:pt-[25px] gap-x-[10px] items-center">
          <div class="w-[16.88px] h-[17.1px] lg:w-[17.77px] lg:h-[18px]">
            <img src="../public/Images/Like.svg" />
          </div>
          <div class="text-[#A5A5A5]">0</div>
        </div>
      </div>
      <div
        class="bg-[#f2f2f2] pb-[15px] md:pb-[17.95px] lg:pb-[25px] lg:rounded-none rounded-[5px] mt-[20px] lg:mt-5 pl-[14px] lg:pl-[40px] pt-[16px] lg:pt-[30px] lg:pr-[40px] pr-[20px]"
      >
        <div class="justify-between flex flex-col">
          <div class="flex w-full">
            <div class="rounded-full overflow-hidden h-[41px] w-[41px]">
              <img src="../public/Images/AboutUs/1.svg" />
            </div>
            <div class="pl-[14px] lg:pl-[16px] w-full">
              <div class="font-semibold text-sm flex justify-between w-full">
                <div>Name LName</div>
                <div>30/12/2022</div>
              </div>
            </div>
          </div>
          <div class="pt-[11px] lg:pt-[16px]">Thank You!</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="border-[0.5px] lg:mt-[38px] w-full pb-[15px] md:pb-[17.95px] lg:pb-[25px] lg:border-b-[1px] rounded-[5px] mt-[20px] pl-[14px] lg:pl-[23px] pt-[16px] lg:pt-[30px] lg:pr-[40px] pr-[20px] shadow-[0px_0px_2px_rgba(0,0,0,0.25)] lg:shadow-none"
  >
    <div class="flex w-full">
      <div class="flex">
        <div class="rounded-full overflow-hidden h-[41px] w-[41px]">
          <img src="../public/Images/AboutUs/1.svg" />
        </div>
      </div>
      <div class="lg:pl-[27px] pl-[16px] w-full">
        <div class="font-semibold text-sm flex w-full items-center flex">
          <div>Your Rating:</div>
          <div id="" class="flex gap-x-1 pl-2 lg:pl-4 items-center">
            <div class="flex items-center gap-x-1">
              <button onclick="rating(0, this)" class="ratingbutton">
                <img
                  src="../public/Images/Vector.png"
                  class="w-[19.5px] h-[19.5px] star"
                />
                <img
                  src="../public/Images/Star-shade.svg"
                  class="w-[19.5px] h-[19.5px] star-shade"
                  style="display: none"
                />
              </button>
              <button onclick="rating(1, this)" class="ratingbutton">
                <img
                  src="../public/Images/Vector.png"
                  class="w-[19.5px] h-[19.5px] star"
                />
                <img
                  src="../public/Images/Star-shade.svg"
                  class="w-[19.5px] h-[19.5px] star-shade"
                  style="display: none"
                />
              </button>
              <button onclick="rating(2, this)" class="ratingbutton">
                <img
                  src="../public/Images/Vector.png"
                  class="w-[19.5px] h-[19.5px] star"
                />
                <img
                  src="../public/Images/Star-shade.svg"
                  class="w-[19.5px] h-[19.5px] star-shade"
                  style="display: none"
                />
              </button>
              <button onclick="rating(3, this)" class="ratingbutton">
                <img
                  src="../public/Images/Vector.png"
                  class="w-[19.5px] h-[19.5px] star"
                />
                <img
                  src="../public/Images/Star-shade.svg"
                  class="w-[19.5px] h-[19.5px] star-shade"
                  style="display: none"
                />
              </button>
              <button onclick="rating(4, this)" class="ratingbutton">
                <img
                  src="../public/Images/Vector.png"
                  class="w-[19.5px] h-[19.5px] star"
                />
                <img
                  src="../public/Images/Star-shade.svg"
                  class="w-[19.5px] h-[19.5px] star-shade"
                  style="display: none"
                />
              </button>
            </div>
          </div>
        </div>
        <form id="packageReview">
          <textarea
            type="text"
            name="comment"
            class="w-[100%] h-[122px] border-[1px] rounded-[5px] pl-[16px] lg:pl-[20px] pt-[11px] lg:mt-[19px] mt-2"
            rows="5"
            placeholder="Type to Comment"
          ></textarea>
          <input
            type="hidden"
            name="packageID"
            value="<%=singlepackage._id %>"
          />
          <input type="hidden" id="ratingID" value="" name="rating" />
        </form>
      </div>
    </div>
    <div class="flex justify-end w-full pt-[16px] lg:pt-[30px]">
      <button
        class="flex items-center lg:text-[14px] text-xs text-white justify-center bg-gradient-to-r w-[97px] lg:w-[108px] from-[#fd3232] to-[#f84c4c] rounded-[8px] h-[32px] md:h-[37px]"
      >
        Publish
      </button>
    </div>
  </div>
  <!-- Related Products -->
  <div
    class="justify-between flex items-center md:pr-5 lg:pr-0 lg:pt-[60px] md:pt-[40px] pt-[29px]"
  >
    <div class="font-prox text-lg font-bold lg:text-3xl text-[18px]">
      Related Products
    </div>
    <div class="font-poppins font-normal text-xs md:text-base lg:flex hidden">
      <a href="/package" class="flex items-center">
        View All &nbsp;<img src="../public/Images/next.svg"
      /></a>
    </div>
  </div>
  <div
    class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-x-[30px] md:gap-x-[22.39px] gap-x-[19px] pt-[18px] md:pt-[30px] lg:pt-[41px] gap-y-[20px] md:gap-y-[23.79px]"
  >
    <div><%- include ("./partials/card") %></div>
    <div><%- include ("./partials/card2") %></div>
    <div><%- include ("./partials/card3") %></div>
    <div><%- include ("./partials/card4") %></div>

    <div class="lg:hidden"><%- include ("./partials/card2") %></div>
    <div class="lg:hidden"><%- include ("./partials/card2") %></div>
    <div class="lg:hidden"><%- include ("./partials/card2") %></div>
    <div class="lg:hidden"><%- include ("./partials/card2") %></div>
    <div class="lg:hidden hidden md:grid">
      <%- include ("./partials/card2") %>
    </div>
  </div>
</div>
<div
  class="h-[149px] w-full z-40 fixed bottom-0 bg-white px-5 pt-5 border-t-[1px] block lg:hidden"
>
  <div class="font-medium md:text-base">Bundle Price</div>
  <div class="justify-between flex">
    <div
      class="pt-[10px] opacity-80 max-w-[161px] md:max-w-none text-[10px] md:text-xs"
    >
      Taxes and shipping calculated at checkout
    </div>
    <div class="font-medium md:font-[16px]">Rs.<%= total %></div>
  </div>
  <div class="justify-end flex pt-[16px] gap-x-[10px]">
    <button
      class="md:w-[122px] w-[113px] h-[32px] rounded-[8px] text-[12px] items-center flex justify-center border-[1px] border-[#3baf3d] text-[#3baf3d] font-medium"
      onclick="addToCartPackages('<%= JSON.stringify(singlepackage) %>')"
    >
      <div class="my-auto text-[#3baf3d] flex">
        Add
        <div class="text-[#3baf3d] added" style="display: none">ed&nbsp;</div>
        to Cart
      </div>
    </button>
    <button
      class="md:w-[122px] w-[113px] h-[32px] rounded-[8px] text-[12px] items-center flex justify-center text-[#ffffff] font-medium bg-gradient-to-r from-[#3baf3d] to-[#5DC234]"
      onclick="location.href='/cart'"
    >
      Buy Now
    </button>
  </div>
</div>
<script>
  var options = {
    zoomWidth: 200,
    zoomHeight: 100,
    bgColor: "red",
    opacity: 0.1,
    offset: { vertical: 0, horizontal: 5 },
    scale: 2.5,
    // position: "absolute",
  };

  new ImageZoom(document.getElementById("img-container"), options);

  function magnify(element) {
    element.style.scale = 2.5;
  }
  function magnifyout(element) {
    element.style.scale = 1;
  }
</script>
<%- include ("./partials/footer") %>
<div class="h-[149px]lg:hidden"></div>
